<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    
     <link rel="stylesheet" type="text/css" href="~/login-sign-in/css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/TemplateFIles/css/style.css" />
        <script src="~/login-sign-in/js/modernizr.custom.63321.js"></script>
     <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="10403398949-splovvmf46ji33ngb15htia6pdf2vfbp.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="~/GooleJS/LoginWithGoogle.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
</head>
<body>
    <div>
        <div id="background">
		<div id="page">
			<div id="header">
				<div id="logo">
					<a href="index.html"><img src="~/TemplateFIles/images/logo.png" alt="LOGO" height="112" width="118"></a>
				</div>
				<div id="navigation">
					<ul>
						<li class="selected">
							<a href="index.html">Home</a>
						</li>
						<li>
							<a href="about.html">About</a>
						</li>
						<li>
							<a href="rooms.html">Rooms</a>
						</li>
						<li>
							<a href="dives.html">Dive Site</a>
						</li>
						<li>
							<a href="foods.html">Food</a>
						</li>
						<li>
							<a href="news.html">News</a>
						</li>
						<li>
							<a href="contact.html">Contact</a>
						</li>
					</ul>
				</div>
			</div>
            <div style="margin-left:-100px;margin-top:-174px">
                <br />
        @RenderBody()
                <div id="fb-root"></div>
    <script src="@Url.Content("~/Scripts/jquery-1.6.2.min.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Scripts/Facebook.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            InitialiseFacebook(@System.Configuration.ConfigurationManager.AppSettings["app_Id"]);
        });
	</script>
                </div>
    </div>
</body>
</html>
