<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    
     <link rel="stylesheet" type="text/css" href="~/login-sign-in/css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/TemplateFIles/css/style.css" />
        <script src="~/login-sign-in/js/modernizr.custom.63321.js"></script>
</head>
<body>
    <div>
        <div id="background">
		<div id="page">
			<div id="header">
				<div id="logo">
					<a href="index.html"><img src="~/TemplateFIles/images/logo.png" alt="LOGO" height="112" width="118"></a>
				</div>
				<div id="navigation">
					<ul>
						<li class="selected">
							<a href="index.html">Home</a>
						</li>
						<li>
							<a href="about.html">About</a>
						</li>
						<li>
							<a href="rooms.html">Rooms</a>
						</li>
						<li>
							<a href="dives.html">Dive Site</a>
						</li>
						<li>
							<a href="foods.html">Food</a>
						</li>
						<li>
							<a href="news.html">News</a>
						</li>
						<li>
							<a href="contact.html">Contact</a>
						</li>
					</ul>
				</div>
			</div>
        @RenderBody()
    </div>
</body>
</html>
