@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
    <h1>TestMe jeet</h1>
</head>
<body>
    <div>
        
    </div>
</body>
</html>
